li {
    display: inline-block;
}

ul {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    text-align: center;
    background-color: green;
    display: inline-block;
}

a {
    color: white;
}