<div class ="banner">
<ul class="banner-content">

          
  <li class="button">
    <a class="nav-link" routerLink="/create-contact" routerLinkActive="active">
      <i class="fas fa-plus"></i> Add Contact
    </a>
  </li>
  <li class="button">
    <a class="nav-link"  routerLink="/view-contacts" routerLinkActive="active">
      <i class="fas fa-list-ul" ></i> Contacts List
    </a>
  </li>
</ul>
</div>

<!-- Router content -->
<div class="rcontent">
  

    

   
   
      <div>

        <!-- Use router template to show the components for which router service is activated -->
        <router-outlet></router-outlet>

      </div>
   

  
</div>